* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rokkitt", serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: url("./stars.jpg");
  color: #eee;
  width: 100%;

  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    margin: auto;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 200%; /* Full height */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);

    /* Modal Content/Box */
    .modal-content {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      background: rgb(7, 5, 10);
      background: radial-gradient(
        circle,
        rgba(26, 24, 61, 1) 0%,
        rgba(7, 5, 10, 1) 100%
      );
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 2px solid #ffffff;
      width: 40%; /* Could be more or less, depending on screen size */
      color: #c4a5eb;
      border-radius: 12px;
      a {
        color: #aa6954;
      }
    }

    /* The Close Button */
    .close {
      color: #ffffff;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: grey;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .upper-name {
    background: rgb(7, 5, 10);
    background: radial-gradient(
      circle,
      rgba(26, 24, 61, 1) 0%,
      rgba(7, 5, 10, 1) 100%
    );
    opacity: 90%;
    font-size: 36px;
    border-radius: 90px;
    width: 80%;
    height: 25%;
    margin: 50px auto 100px auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;

    .name {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      text-align: center;
      margin: auto;
      width: 50%;
      padding: 10px;
      .letter {
        margin: auto;
      }

      .purple-1 {
        color: #8855ff;
      }
      .purple-2 {
        color: #573d92;
      }

      .purple-3 {
        color: #ccaaff;
      }
      .white {
        color: #ffffff;
      }
    }
  }

  .content {
    padding-top: 50px;
    font-size: 25px;
    width: 80%;
    height: 25%;
    margin: auto;
    .info {
      background: rgb(7, 5, 10);
      background: radial-gradient(
        circle,
        rgba(26, 24, 61, 1) 0%,
        rgba(7, 5, 10, 1) 100%
      );
      opacity: 90%;
      border-radius: 10px;
      padding: 50px;

      .info-content {
        padding: 15px 25px 15px 25px;
      }

      .copyright {
        color: grey;
        font-size: 15px;
        padding-top: 10px;
        text-align: center;
      }
      .projects {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;

        .project {
          padding: 20px;
          align-self: center;

          .project-image {
            border-radius: 20px;
            width: 300px;
            height: 200px;
            opacity: 100%;
            border-style: solid;
            border-width: 2px;
            border-color: #ffffff;
          }

          .project-image:hover,
          .project-image:focus {
            opacity: 70%;
            cursor: pointer;
          }
        }
      }
    }

    .orange {
      color: #aa6954;
    }
    .purple {
      color: #a277dc;
    }

    .info-content {
      color: #d7b5ff;
    }
  }

  .link-no-style {
    color: #d7b5ff;
  }

  .icons {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;

    .cta-icon {
      width: 120px;
      height: 120px;
      padding: 20px;
    }
  }
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    .upper-name {
      font-size: 25px;
    }

    .modal {
      .modal-content {
        width: 80%;
      }
    }
    .content {
      font-size: 15px;

      .info {
        padding: 15px;

        .projects {
          .project {
            .project-image {
              width: 200px;
              height: 150px;
            }
          }
        }
        .icons {
          .cta-icon {
            width: 100px;
            height: 100px;
            padding: 20px;
          }
        }
        .info-content {
          padding: 10px 20px 10px 20px;
        }
      }
    }
  }
}
