* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("./stars.jpg");
  font-family: "Rokkitt", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .upper-name {
  background: #07050a;
  background: radial-gradient(circle, #1a183d 0%, #07050a 100%);
  opacity: 90%;
  font-size: 36px;
  border-radius: 90px;
  width: 80%;
  height: 25%;
  margin: 50px auto auto auto;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .upper-name .name {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

body .upper-name .name .letter {
  margin: auto;
}

body .upper-name .name .purple-1 {
  color: #8855ff;
}

body .upper-name .name .purple-2 {
  color: #573d92;
}

body .upper-name .name .purple-3 {
  color: #ccaaff;
}

body .upper-name .name .white {
  color: #ffffff;
}

body .content {
  padding-top: 50px;
  font-size: 25px;
  width: 80%;
  height: 25%;
  margin: auto;
}

body .content .info {
  background: #07050a;
  background: radial-gradient(circle, #1a183d 0%, #07050a 100%);
  opacity: 90%;
  border-radius: 10px;
  padding: 50px;
}

body .content .info .info-content {
  padding: 15px 25px 15px 25px;
}

body .content .info .copyright {
  color: grey;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}

body .content .orange {
  color: #aa6954;
}

body .content .blue {
  color: #aaddff;
}

body .content .gold {
  color: #d2a956;
}

body .content .grey {
  color: #8d8d8d;
}

body .content .purple {
  color: #a277dc;
}

body .content .info-content {
  color: #d7b5ff;
}

body .link-no-style {
  color: #d7b5ff;
}

body .icons {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .icons .cta-icon {
  width: 200px;
  height: 200px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  body .upper-name {
    font-size: 25px;
  }
  body .content {
    font-size: 15px;
  }
  body .content .info {
    padding: 15px;
  }
  body .content .info .icons {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .content .info .icons .cta-icon {
    width: 120px;
    height: 120px;
    padding: 20px;
  }
  body .content .info .info-content {
    padding: 10px 20px 10px 20px;
  }
}
/*# sourceMappingURL=styles.css.map */